<div class="form-group" ng-class="{ 'has-error': showError }">
    <label for="{{id}}" ng-class="{ 'control-label': true, 'sr-only': to.labelSrOnly, 'col-sm-3': formState.horizontal && !to.noLabel }" ng-if="to.label && !to.noLabel">
        {{to.label}}
        <strong title="Obrigatório" ng-if="to.required">*</strong>
		<i class="fa fa-question-circle" ng-show="to.tooltip" title="{{ to.tooltip }}"></i>
    </label>
    <div ng-class="{ 'col-sm-9': formState.horizontal, 'col-sm-offset-3': formState.horizontal && to.noLabel }">
        <formly-transclude></formly-transclude>
		<span class="help-block" ng-show="showError" ng-messages="options.formControl.$error" role="alert">
			<i class="fa fa-exclamation-circle"></i>

			<span ng-message="required">Obrigatório</span>
			<span ng-message="email">Inválido</span>
			<span ng-message="compareTo">Senhas não conferem</span>
			<span ng-message="maxlength">Tamanho máximo do campo excedido.</span>
			<span ng-message="server">{{ options.formControl.$error.message }}</span>
		</span>
		<span class="help-block" ng-show="to.help" ng-repeat="h in to.help"><i class="fa fa-lightbulb-o"></i> {{h}}</span>
    </div>
</div>