<div ng-hide="formState.readOnly" class="thumbnail" ng-style="{ width: ( to.width + 10 ) + 'px' }">
    <div ng-style="{ width: ( to.width ) + 'px', height: ( to.height ) + 'px' }">
        <img ng-hide="showCropper" holder="holder.js/100px100p" />
        <img ng-show="showCropper" class="crop" />
    </div><br />
    <span class="btn btn-default btn-file"><span class="fileinput-new">Selecionar imagem</span><input type="file" ist-change="onFile( $event, files )" /></span>
    <input type="hidden" ng-model="model[options.key].dataUrl" />
</div>
<div ng-show="formState.readOnly" class="thumbnail" ng-style="{ width: ( to.width + 10 ) + 'px' }">
    <div ng-style="{ width: ( to.width ) + 'px', height: ( to.height ) + 'px' }">
        <img ng-src="{{ model[options.key].dataUrl }}"  ng-style="{ width: ( to.width ) + 'px', height: ( to.height ) + 'px' }" />
    </div>
</div>