<select ng-if="!formState.readOnly" class="form-control" ist-reset-server-error ng-style="to.style" ng-model="model[options.key]" ng-options="to.nameResolution( option ) for option in to.options"></select>
<p ng-if="formState.readOnly" class="form-control-static">
	<span ng-show="model[ options.key ]">{{ to.nameResolution( model[ options.key ] ) }}</span>
</p>