<text-angular ng-if="!formState.readOnly" ng-model="model[options.key]" ist-reset-server-error ta-resize-force-aspect-ratio="true"></text-angular>
<p ng-if="formState.readOnly" class="form-control-static" ng-bind-html="model[options.key]"></p>