<input ng-if="!formState.readOnly" class="form-control" ist-reset-server-error ng-style="to.style" ng-model="model[options.key]" />
<p ng-if="formState.readOnly && !to.obfuscate" class="form-control-static">{{ model[options.key] }}</p>
<p ng-if="formState.readOnly && to.obfuscate" class="form-control-static">********</p>