<div ng-if="!formState.readOnly" class="radio-group">
  <div ng-repeat="(key, option) in to.options" class="checkbox">
    <label>
      <input type="checkbox"
             id="{{id + '_'+ $index}}"
             ng-model="multiCheckbox.checked[$index]"
             ng-change="multiCheckbox.change()">
      {{option[to.labelProp || 'name']}}
    </label>
  </div>
</div>
<div ng-if="formState.readOnly" class="form-control-static">
	<ul>
		<li ng-repeat="item in model[options.key]">{{ item }}</li>
	</ul>
</div>