<div ng-if="!formState.readOnly" class="checkbox">
	<label>
		<input type="checkbox" class="formly-field-checkbox" ng-model="model[options.key]" />
		{{to.label}}
	</label>
</div>
<p ng-if="formState.readOnly" class="form-control-static">
	<i ng-if="!model[options.key]"class="fa fa-times-circle"></i>
	<i ng-if="model[options.key]"class="fa fa-check-circle"></i>
</p>