<select ng-if="!formState.readOnly" class="form-control" ist-reset-server-error ng-style="to.style" ng-model="model[options.key]"></select>
<p ng-if="formState.readOnly" class="form-control-static">{{ model[options.key][ to.labelProp || 'name' ] }}</p>