<div ng-if="!formState.readOnly">
	<label class="radio-inline" ng-repeat="option in to.options">
		<input type="radio" class="formly-field-checkbox" ng-value="option" ng-model="model[options.key]" />
		<ist-label text="{{ to.nameResolution ? to.nameResolution( option ) : option }}" type="{{ to.typeResolution ? to.typeResolution( option ) : option }}"></ist-label>
	</label>
</div>
<p ng-if="formState.readOnly" class="form-control-static">
	<ist-label text="{{ to.nameResolution ? to.nameResolution( model[options.key] ) : model[options.key] }}" type="{{ to.typeResolution ? to.typeResolution( model[options.key] ) : model[options.key] }}"></ist-label>
</p>