<textarea ng-if="!formState.readOnly" class="form-control" ist-reset-server-error ng-style="to.style" ng-model="model[options.key]"></textarea>
<p ng-if="formState.readOnly" class="form-control-static" ng-bind-html="model[options.key]"></p>